.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 20rem;

  display: flex;
}
.card-with-image-top {
  flex-direction: column;
}
.card-with-image-bottom {
  flex-direction: column-reverse;
}

.title {
  margin: 1rem;
}
.text {
  margin: 1rem;
}
